<form
  [formGroup]="registerForm"
  *ngIf="registerForm"
  autocomplete="off"
  (ngSubmit)="registerForm.valid && submit()"
>
  <h2 class="text-center text-primary">Register Form</h2>

  <div class="form-group">
    <label class="control-label" style="margin-right: 10px">Gender:</label>
    <label class="radio-inline">
      <input type="radio" value="male" formControlName="gender" /> Male
    </label>
    <label class="radio-inline">
      <input
        type="radio"
        value="female"
        formControlName="gender"
        class="ms-3"
      />
      Female
    </label>
  </div>

  <app-text-input
    [label]="'Username'"
    [type]="text"
    [formControl]="registerForm.controls['username']"
  ></app-text-input>
  <app-text-input
    [label]="'Known As'"
    [type]="text"
    [formControl]="registerForm.controls['knownAs']"
  ></app-text-input>
  <app-date-input
    [label]="'Date Of Birth'"
    [type]="date"
    [formControl]="registerForm.controls['dateOfBirth']"
    [maxDate]="maxDate"
  ></app-date-input>
  <app-text-input
    [label]="'City'"
    [type]="text"
    [formControl]="registerForm.controls['city']"
  ></app-text-input>
  <app-text-input
    [label]="'Country'"
    [type]="text"
    [formControl]="registerForm.controls['country']"
  ></app-text-input>
  <app-text-input
    [label]="'Password'"
    [type]="'password'"
    [formControl]="registerForm.controls['password']"
  ></app-text-input>
  <app-text-input
    [label]="'Confirm Password'"
    [type]="'password'"
    [formControl]="registerForm.controls['confirmPassword']"
  ></app-text-input>

  <div class="form-group text-center mt-3">
    <button class="btn btn-secondary me-2" (click)="cancel()">Cancel</button>
    <button [disabled]="!registerForm.valid" class="btn btn-success">
      Register
    </button>
  </div>
</form>
